@import "tailwindcss";


/* put custom colors/parametres here. tailwind handles these automatically */
@theme {
  /* main design colors */
  --color-primary-green: #25c583;
  --color-accent-green: #a7f1cd;

  --color-light-bg: #dddddd;
  --color-light-secondary: #afafaf;
  --color-light-tertiary: #d0d0d0;
  --color-light-whiteboard: #f9f9f9;
  --color-light-txt: #171717;

  --color-dark-bg: #151525;
  --color-dark-secondary: #202038;
  --color-dark-tertiary: #2e2e4f;
  --color-dark-whiteboard: #434372; 
  --color-dark-txt: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-txt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-bg);
    --foreground: var(--color-dark-txt);
  }
}






body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.btn {
  @apply flex items-center justify-center rounded-lg border border-slate-300 px-2 py-1 text-xs text-dark-txt text-shadow-2xs cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-confirm {
  @apply bg-emerald-500 hover:bg-emerald-400 active:bg-emerald-600 shadow-md;
}

.btn-deny {
  @apply bg-rose-500 hover:bg-rose-400 active:bg-rose-600 shadow-md;
}

.btn-neutral {
  @apply bg-neutral-500 hover:bg-neutral-400 active:bg-neutral-600 shadow-md;
}

.btn-alt {
  @apply bg-purple-500 hover:bg-purple-400 active:bg-purple-600 shadow-md;
}


/* Overridding Blocky styles */

.blocklyToolbox{
  @apply bg-light-secondary px-3 rounded-l-lg;
}
.blocklyToolboxCategoryContainer{
  @apply bg-light-tertiary m-1 rounded-2xl text-center;
}
.blocklyToolboxFlyout {
  @apply bg-light-tertiary
}
.blocklySvg {
  @apply bg-light-whiteboard rounded-lg
}
.blocklyScrollbarHandle {
  @apply fill-neutral-400
}

@media (prefers-color-scheme: dark) {
  .blocklyToolbox{
    @apply bg-dark-secondary px-3 rounded-l-lg;
  }
  .blocklyToolboxCategoryContainer{
    @apply bg-dark-tertiary m-1 rounded-2xl text-center;
  }
  .blocklyToolboxFlyout {
    @apply bg-dark-tertiary
  }
  .blocklySvg {
    @apply bg-dark-whiteboard rounded-lg
  }
  .blocklyScrollbarHandle {
    @apply fill-neutral-400
  }
}

.blocklyFlyoutBackground {
  fill-opacity: 0;
}