@import "tailwindcss";


/* put custom colors/parametres here. tailwind handles these automatically */
@theme {
  /* main design colors */
  --color-primary-green: #25c583;
  --color-accent-green: #a7f1cd;

  --color-light-bg: #dddddd;
  --color-light-secondary: #afafaf;
  --color-light-tertiary: #c4c4c4;
  --color-light-hover: #eeeeee;
  --color-light-whiteboard: #f9f9f9;
  --color-light-txt: #171717;

  --color-dark-bg: #151525;
  --color-dark-secondary: #202038;
  --color-dark-tertiary: #2e2e4f;
  --color-dark-hover: #3b3b68;
  --color-dark-whiteboard: #434372; 
  --color-dark-txt: #ededed;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-txt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-bg);
    --foreground: var(--color-dark-txt);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Background classes */



.btn {
  @apply items-center justify-center rounded-lg border border-slate-300 px-2 py-1 text-xs text-dark-txt text-shadow-2xs cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-confirm {
  @apply bg-emerald-500 hover:bg-emerald-400 active:bg-emerald-600 shadow-md;
}

.btn-deny {
  @apply bg-rose-500 hover:bg-rose-400 active:bg-rose-600 shadow-md;
}

.btn-neutral {
  @apply bg-neutral-500 hover:bg-neutral-400 active:bg-neutral-600 shadow-md;
}

.btn-alt {
  @apply bg-purple-500 hover:bg-purple-400 active:bg-purple-600 shadow-md;
}

.btn-alt2 {
  @apply bg-blue-500 hover:bg-blue-400 active:bg-blue-600 shadow-md;
}
.blocklyFlyout[style*="display: none"] + .blocklyScrollbarVertical  {
  display: none !important;
}


.error-bubble {
  @apply bg-rose-600 outline-1 outline-white align-middle text-white rounded-lg py-1 mt-1 mx-1 px-3 transition-transform
}


/* Overridding Blocky styles */

.blocklyToolbox{
  @apply bg-light-secondary px-3 rounded-l-lg;
}

.blocklyToolboxCategory {
  @apply bg-light-tertiary m-1 rounded-full text-center;
}



.blocklyToolboxSelected {
  background-color: var(--color-primary-green) !important;
  @apply text-shadow-sm;
}

.blocklyToolboxFlyout {
  @apply bg-light-tertiary
}
.blocklySvg {
  @apply bg-light-whiteboard rounded-lg border-none
}
.blocklyScrollbarHandle {
  @apply fill-neutral-400
}
.blocklyMainBackground {
  @apply stroke-none shadow-2xl;
}

@media (prefers-color-scheme: dark) {
  .blocklyToolbox{
    @apply bg-dark-secondary px-3 rounded-l-lg;
  }
  .blocklyToolboxCategory {
    @apply bg-dark-tertiary m-1 rounded-2xl text-center;
  }
  .blocklyToolboxFlyout {
    @apply bg-dark-tertiary
  }
  .blocklySvg {
    @apply bg-dark-whiteboard rounded-lg 
  }
  .blocklyScrollbarHandle {
    @apply fill-neutral-400
  }
}

.blocklyFlyoutBackground {
  fill-opacity: 0;
}


.table-row {
  @apply cursor-pointer hover:bg-light-hover hover:dark:bg-dark-hover active:bg-light-tertiary active:dark:bg-dark-tertiary h-10
}

.table-header {
  @apply h-12 bg-light-tertiary dark:bg-dark-tertiary;
}